.jumbotron{
    background-color: yellow;
    color: black;
    margin-top: 4em;
}
footer{
    padding: 10px 10px 0 10px;
    background-color: yellow;
    margin-bottom: 0px;
    margin-top: 1em;
}
.btn-primary{
    background-color: teal;
    width: 100%;
    border-radius: 0%;
}
.cont-2{
    width: 33%;
}
.cont-3{
    width: 25%;
    height: auto;
    justify-content:space-between;
}

.tab-pane{
    padding-top: 1em;
}